{% extends 'base.html.twig' %}


{% block content %}
<style>
  main {
    margin-top: 8rem;
  }
  
  .blockAbout {
    display: flex;
    margin-left: 10px;
    
  }
  
  .blockAbout img {
    width: 97.5%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .contentOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .contentOne h3{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
  
  }
  .contentOne p{
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 768px) {
    main {
      margin-top: 4rem;
    }
    .contentOne {
      text-align: center;
      padding-top: 3rem;
    }
    .contentOne h3 {
      font-size: 1.5rem;
    }
    .contentOne p{
    font-size: 1rem;
    margin-right: 10px;
  }
  }
    
</style>
<main>
  <div class="blockAbout">
    <div class="row ">
        <div class="col-12 col-lg-6 blockImg">
            <img src="{{asset('pictures/imgAbout/image.jpg')}}" alt="Photo of a person, 
            with a cup of coffee, who is working 
            peacefully at home. He is in front of his computer on a terrace overlooking nature.">
        </div>
        <div class="col-12 col-lg-6 contentOne">
            <h3>Who we are?</h3>
            <p>Nomadscreen is a young French start-up which has existed for one year and which 
              aims to facilitate the mobility of people who use several screens,
              whether professionally or personally.</p>
        </div>

    </div>
</div>
</main>
{% endblock %}
