{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}

<div class="container my-5">
    <a href="{{ path('app_logout')}}">Log out</a>
    <a href="{{ path('app_account_modify_pwd')}}">Change my password</a>

</div>


{% endblock %}