{% extends 'base.html.twig'%}
    
{% block content %}
<style>
    main {
        margin-top: 8rem;
    }

    .blockImage img {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .imgProduit img {
        width: 100%;
        margin-top: 8rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
            rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    @media screen and (max-width: 768px) {
        main {

            margin-top: 4rem;
        }
        .imgProduit img {
            margin-top: 4rem;
            
        }
        
    }
</style>
<main>
    <div class="container-fluid">
    <div class="blockImage">

        <img width="100%" src="{{ asset('pictures/imgPageAccueil/hand.jpg')}} " alt="image de main avec carte du monde déssinée dessus sur fon d de ciel bleu et nuageux" />

    </div>

    <div class="row imgProduit">
    </div>
</div>
</main>



{% endblock %}
