{# suppression de la structure par défaut proposée par symfony#}

{% extends 'base.html.twig' %} 

{% block title %}Register{% endblock %}


{% block content %}

<style>
    .formRegister{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        background-color:hsl(49, 100%, 65%);
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 5px;
    }
    
    h3 {
        text-align: center;
        font-weight: bold;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
    
    .btn {
        background-color: black;
        color: hsl(49, 100%, 65%);
        font-weight: bold;
        border-radius: 5px;
        padding: 10px;
    }
    .pageLogin {
        color:hsl(49, 100%, 65%) ;
        font-weight:bold ;
    }
    
    @media screen and (max-width: 768px) {
    
        .formRegister {
            width: 70%;
        }
        
    }
</style>


<div class="container my-5">
    
    <h3>REGISTER</h3>

    {{ form(registerForm, 
        {'attr' : {'class' : 'formRegister'}
    })
    }}
    <br>
    Already have an account? <a class="pageLogin" href="{{ path('app_login')}}">Log in</a>

</div>
{% endblock %}